* {
    margin: 0;
    padding: 0;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

html, body {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f4f4f4;
}

img {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-drag: none;
    -webkit-user-drag: none;
}

section {
    background-image: url('../assets/img/fund_consultorio.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.general_conteiner {
    background-color: #ffffff;
    width: 70%;
    height: 80%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.logo_name {
    margin-left: 5%;
    margin-top: 5%;
    display: flex;
    align-items: center;
}

.logo_name h1 {
    color: #F49FC8;
    font-weight: bolder;
    font-family: "Red Hat Display", sans-serif;
    padding-left: 1%;
}

.conteiner_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    margin-right: 5%;
    text-align: justify;
}

form h1 {
    font-size: 30px;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-style: normal;
    color: #F49FC8;
}

form p {
    padding: 10px 0px;
    font-size: 16px;
    font-weight: 500;
    font-weight: 200;
    font-family: "Poppins", sans-serif;
}

.conteiner_inputs {
    display: flex;
    width: 100%;
}

.group {
    display: flex;
    line-height: 30px;
    align-items: center;
    position: relative;
    margin: 0% 0% 2% 0%;
}

.input {
    width: 50%;
    height: 45px;
    line-height: 30px;
    padding: 0 5rem;
    padding-left: 3rem;
    border: 2px solid transparent;
    border-radius: 10px;
    outline: none;
    background-color: #dfe6ec;
    color: #0d0c22;
    transition: .5s ease;
}

.input::placeholder {
    color: #94a3b8;
}

.input:focus,
input:hover {
    outline: none;
    border-color: #F49FC8;
    background-color: #fff;
    box-shadow: 0 0 0 5px #F49FC8;
}

.input_password {
    width: 100%;
    height: 45px;
    line-height: 30px;
    padding: 0 5rem;
    padding-left: 3rem;
    border: 2px solid transparent;
    border-radius: 10px;
    outline: none;
    background-color: #dfe6ec;
    color: #0d0c22;
    transition: .5s ease;
}

.input_password::placeholder {
    color: #94a3b8;
}

.input_password:focus,
input:hover {
    outline: none;
    border-color: #F49FC8;
    background-color: #fff;
    box-shadow: 0 0 0 5px #F49FC8;
}

.icon {
    position: absolute;
    left: 1rem;
    fill: none;
    width: 1rem;
    height: 1rem;
}

.conteiner_policy {
    margin: 10px;
    display: flex;
    align-items: center;
    text-align: center;
    gap: 10px;
}

.conteiner_button {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.conteiner_button .have_account {
    font-weight: 400;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
}

button {
    background-color: #F49FC8;
    color: #Ffff;
    text-align: center;
    border-radius: 4px;
    width: 100%;
    height: 50px;
    border-style: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #F07BAA;
}

.conteiner_button p {
    padding-top: 10px;
    font-weight: 500;
}

span {
    color: #F49FC8;
    font-weight: 400;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
}

.imagem_lateral {
    width: 60%;
    height: 60%;
}

@media (max-width: 768px) {
    .general_conteiner {
        width: 90%;
        height: 90%;
    }

    .conteiner_content {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .imagem_lateral {
        display: none;
    }

    .logo_name {
        margin-top: 3%;
        margin-left: 0;
        justify-content: center;
    }

    .logo_name h1 {
        font-size: 24px;
    }

    form {
        margin-left: 0;
        margin-top: 20px;
    }

    .input {
        width: 100%;
        padding: 0 1.5rem;
        font-size: 16px;
    }

    button {
        height: 45px;
    }

    .group {
        width: 100%;
    }
}

@media (max-width: 480px) {
    .icon {
        display: none;
    }

    .logo_name h1 {
        font-size: 20px;
    }

    form h1 {
        font-size: 26px;
    }

    form p {
        font-size: 14px;
    }

    .input {
        width: 90%;
        padding: 0 1rem;
        font-size: 14px;
    }

    .conteiner_button .dont_have_account {
        font-size: 14px;
    }

    .imagem_lateral {
        display: none;
    }

    .general_conteiner {
        padding: 0 2%;
    }

    .conteiner_inputs {
        display: flex;
        justify-content: space-between;
        gap: 15px;
    }

    .conteiner_inputs .group {
        width: 48%;
    }

    .conteiner_inputs .group .input {
        width: 100%;
    }
}

@media (width: 428px) and (height: 926px) {
    section {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .general_conteiner {
        width: 90%;
        height: auto;
        padding: 5%;
    }

    .logo_name {
        margin-top: 5%;
        margin-left: 0;
        justify-content: center;
    }

    .logo_name h1 {
        font-size: 20px;
    }

    .conteiner_content {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    form {
        margin-left: 0;
        margin-top: 20px;
    }

    .input {
        width: 100%;
        padding: 0 1rem;
        font-size: 14px;
    }

    .imagem_lateral {
        display: none;
    }

    button {
        height: 45px;
    }
}

@media (max-width: 884px) {
    .imagem_lateral {
        display: none;
    }
    .icon {
        display: none;
    }

    .conteiner_content {
        padding-top: 30px;
    }
}

@media (max-width: 320px) {
    .logo_name h1 {
        font-size: 18px;
        padding-top: 10px;
        padding: 0;
        margin: 0;
        text-align: center;
        width: 100%;
        box-sizing: border-box;
    }

    .general_conteiner {
        width: 100%;
        height: auto;
        padding: 10px;
        box-sizing: border-box;
    }

    .conteiner_inputs .group {
        width: 100%;
        margin-bottom: 10px;
    }

    .conteiner_inputs .group .input,
    .conteiner_inputs .group .input_password {
        width: 100%;
        height: 35px;
        font-size: 14px;
        padding: 0 1rem;
        border-radius: 8px;
    }

    .input_password {
        height: 35px !important;
    }

    button {
        width: 100%;
        height: 45px;
        font-size: 14px;
    }

    .conteiner_inputs {
        display: flex;
        flex-direction: column;
        gap: 5px;
        width: 100%;
    }

    .imagem_lateral {
        display: none;
    }

    .conteiner_content {
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    body, html {
        overflow-x: hidden;
    }
}
